$carousel-transition-duration:       .2s;
$carousel-control-width:             10%;

@import "~bootstrap/scss/bootstrap";

html, body, body > div, main {
  height: 100%;
}

main {
  @extend .d-flex, .flex-column;

  >.content {
    @extend .flex-grow-1;

    padding: var(--bs-gutter-x, 0.75rem);

    .collection {
      height: 100%;
      position: relative;
      @extend .d-flex, .flex-column;

      #app {
        @extend .flex-grow-1;
      }
    }
  }
}

#app > div,
.carousel {
  height: 100%;
}

.carousel-item {
  .djoke {
    // Make room for carousel controls.
    margin: 0 $carousel-control-width;

    .punchline.hidden {
      cursor: pointer;
    }

    .n-of-m {
      float: right;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.collection {
  margin-bottom: $spacer;

  & > a {
    text-decoration: none;
    color: inherit;
  }
}
