<div class="collection">
  <a href="{{ path('entity.node.canonical', {node: node.id}) }}">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          {{ content.logo }}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ label }}</h5>
            <p class="card-text">{{ content.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
